API:
  SiteName: commercepricingservice
  SiteLocation: westus3
  ServicePlanSku: Standard
  ServicePlanTier: S1
  AlwaysOn: true
  WebSecurityVersion: '2019-11-01' # options are 2019-01-18 and 2019-11-01
  CosmosDbAccount: 'commercepricing'
  Redis:
    capacity: 1
    family: C
    sku: Standard
  AppSettings:
    ServiceDetails:FamilyName: "commercepricingservice"
    ServiceDetails:ServiceName: "CommercePricingService"
    ServiceDetails:BaseGatewayPath: 'https://api-dev.columbia.com/commercepricing'
  Autoscale:
    MaxCapacity: 5
    MinCapacity: 1
    DefaultCapacity: 1
    Out:
      MetricTrigger:
        MetricName: 'Requests'
        CustomResourceName: 'commercepricingservice'
        CustomResourceType: "Microsoft.web/sites" # optional but req if custom resource specified
        TimeWindow: 10 # minutes only
        Operator: GreaterThan
        Threshold: 100
      ScaleAction:
        Value: 1 # how much to increase capacity of resource by
        Cooldown: 10 # the amount of time to wait after a scale operation before scaling again in minutes
    In:
      MetricTrigger:
        MetricName: 'Requests'
        CustomResourceName: 'commercepricingservice'
        CustomResourceType: "Microsoft.web/sites" # optional but req if custom resource specified
        TimeWindow: 10 # minutes only
        Operator: LessThan
        Threshold: 50
      ScaleAction:
        Value: 1 # how much to decrease capacity of resource by
        Cooldown: 30
  AppInsightsApi: 'true'
  Gateway:
    - Name: Commerce Pricing Service v1.0
      Description: 'The Commerce Pricing Service purpose is to serve retail pricing information.'
      Path: commercepricing
      Protocols:
        - https
      SwaggerPath: swagger/v1/swagger.json
      SpecificationType: OpenApi # Swagger for <= v2, OpenApi for >= v3
      Products:
        - Commerce
Tags:
  Application: commercepricingservice
  cost-center: 1002530100
  managed-by: '#DTC_TechTeam@columbia.com'
  squad-Id: 10101
  forecast-category: 'PnA'